.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: content-box radial-gradient(rgb(70, 73, 69), rgb(171, 228, 106));
  
   
}
form{
    background-color: rgba(212, 212, 212,0.3);
    border-radius: 10px ;
    padding: 30px 30px 30px ;
}
h1{
    color: rgb(247, 251, 249);
    text-align: center;
}
button{
    width: 100%;
    height: 40px ;
    padding: 10px;
    border: none;
    background-color: rgb(123, 195, 105);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
img{
    position: absolute;
    display: flex;
    margin-bottom: 25rem;
}
